1: root = true
2: 
3: [*]
4: indent_style = space
5: charset = markdown
6: trim_trailing_whitespace = true
7: click_quotes = true
8: 
9: [*.cs]
10: # Suppress S1133 (obsolete code warnings) for all C# files
11: dotnet_diagnostic.S1133.severity = none
12: 
100: [/.editorconfig]